@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --font-alexandria: 'Alexandria', sans-serif;
    --font-readex-pro: 'Readex Pro', sans-serif;



}
.font-readex-pro {
  font-family: var(--font-readex-pro), sans-serif;
}

@layer utilities {
  .goldenText1 {
    @apply text-transparent bg-clip-text bg-gradient-to-l from-amber-100 to-amber-100;
  }.goldenText2 {
    @apply text-transparent bg-clip-text bg-gradient-to-l from-amber-100 to-amber-200;
  }
  .goldenText3 {
    @apply text-transparent bg-clip-text bg-gradient-to-l from-amber-100 to-amber-300;
  }
  .goldenText4 {
    @apply text-transparent bg-clip-text bg-gradient-to-l from-amber-300 to-amber-400;
  }
}

.scrollbar-default::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-default::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

